<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/icono-yatra.jpg">
    <link rel="stylesheet" href="../estilo/style.css">
    <script src="https://kit.fontawesome.com/bbfecc7ea0.js" crossorigin="anonymous"></script>
    <title>Únete</title>
</head>
<body class="grid2">
    <header>
        <nav id="Inicio">
            <ul>
                <li class="cuadros"><a href="../index.html#inicio">Inicio</a></li>
                <li class="cuadros"><a href="../index.html#album">Álbumes</a></li>
                <li class="iconito_"><a href="../index.html#sebastian"><img class="icono-yatra"  src="../img/yatra.jpg" alt="yatra" width="300px" height="300px"></a></li>
                <li class="cuadros"><a href="../index.html#show">Shows</a></li>
                <li class="cuadros"><a href="#register">Únete</a></li>
            </ul>
        </nav>
    </header>
<div class="section1">
    <section class="white">
            <p id="register" class="p_register">¿Quieres estar al tanto de todas las novedades de Sebastián Yatra?</p>
            <p class="p_register">¡Registrate!</p>
            <p class="registra">Correo electrónico</p>
            <div class="input">
                <input type="text">
            </div>
            <p class="registra">Nombre completo</p>
            <div class="input separador">
                <input type="text">
            </div>
            <div class="registrarse separador">
                <Button>Registrarse</Button>
            </div>
            <p class="historia" id="centrar_text">¡Gracias por el apoyo!</p>
    </section>
</div>
    <section class="section2">
        <h2 class="titulos">¿Por qué registrarse?</h2>
            <p class="historia">Al ingresar tu correo electrónico y tu nombre podremos avisarte a traves de mensajes via mail sobre las novedades de tu cantante y actor favorito, Sebastián Yatra.</p>
            <p class="historia" id="centrar_texto">¿Qué estás esperando? ¡Únete ya mismo y conviertete en un verdadero fan!</p>
            <div class="fans">
                <img src="../img/fans.jpg" alt="Yatra con fans" width="400rem"  height="290rem">
                <img src="../img/fans2.jpg" alt="Yatra con fans en concierto" width="400rem" height="290rem">
                <img src="../img/fans3.jpg" alt="Yatra cantando en el subte" width="400rem" height="290rem" class="separador">
            </div>
        </div>
    </section>

    <footer>
        <div id="redes_unete">
            <a class="links" href="https://www.facebook.com/OficialSebastianYatra" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a class="links" href="https://www.instagram.com/sebastianyatra/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a class="links" href="https://twitter.com/SebastianYatra" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a class="links" href="https://www.youtube.com/user/SebastianYatraVEVO" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            <a class="links" href="https://open.spotify.com/artist/07YUOmWljBTXwIseAUd9TW?si=51045e2fc7174304" target="_blank"><i class="fa-brands fa-spotify"></i></a>
        </div>
    </footer>

</body>
</html>